.Page_user_id_content {
    display: flex;
    border-radius: 8px;
    margin: auto;
    padding: 20px;
    margin-top: 20px;
    max-width: 70%;
    overflow: auto;
    align-items: center;
}

.input{
    margin-left: 30px;
    width: 200px;
}