.page {
    margin: auto;
    padding: 20px;
    margin-top: 20px;
    width:70%;
    overflow: auto;
}
.img{
    max-width: 100%;
    width: 100%;
    margin-top: 20px;
}

.list_item{
    margin-bottom: 12px;
}

.instruction{
    background-color: #FFFAED;
    padding: 0 10px 10px 15px;
    color: rgb(84, 49, 0);
    font-size: 16px;
    line-height: 1.3;
}